html {
  font-size: 20px;
}
body {
  font-family: "Roboto", sans-serif;
  color: white;
}
.cultBackGround {
  background-image: url("../assets/quiz_aplikacja_kultura.jpg");
}
.techBackGround {
  background-image: url("../assets/quiz_aplikacja_technologiatlo.jpg");
}
.motoBackGround {
  background-image: url("../assets/quiz_aplikacja_motoryzacjatlo.jpg");
}
.codeBackGround {
  background-image: url("../assets/quzi_apliakcja_programowanie.jpg");
}
.histBackGround {
  background-image: url("../assets/quiz_aplikacja_historia.jpg");
}
.techLink {
  &__btn {
    @include techBackgroundColorSecond;
  }
}
.cultLink {
  &__btn {
    @include cultBackgroundColorSecond;
  }
}
.motoLink {
  &__btn {
    @include motoBackgroundColorSecond;
  }
}
.histLink {
  &__btn {
    @include histBackgroundColorSecond;
  }
}
.techChooseCat {
  &__chooseText {
    @include techBackgroundColor;
  }
}
.cultChooseCat {
  &__chooseText {
    @include cultBackgroundColor;
  }
}
.motoChooseCat {
  &__chooseText {
    @include motoBackgroundColor;
  }
}
.codeChooseCat {
  &__chooseText {
    @include codeBackgroundColor;
  }
}
.histChooseCat {
  &__chooseText {
    @include histBackgroundColor;
  }
}
