html {
  font-size: 20px;
}
body {
  font-family: "Roboto", sans-serif;
  color: white;
}
.cultBackGround {
  background-image: url("../assets/quiz_aplikacja_kultura.jpg");
}
.techBackGround {
  background-image: url("../assets/quiz_aplikacja_technologiatlo.jpg");
}
.motoBackGround {
  background-image: url("../assets/quiz_aplikacja_motoryzacjatlo.jpg");
}
.codeBackGround {
  background-image: url("../assets/quzi_apliakcja_programowanie.jpg");
}
.histBackGround {
  background-image: url("../assets/quiz_aplikacja_historia.jpg");
}
