.firstPage {
  @include backGround;
}

.chooseCat {
  margin: 1%;
  &__chooseText {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    min-height: 70px;
  }
}
.link {
  text-decoration: none;
  &__btn {
    @include button;
    @include colorChanger;
    img {
      max-width: 30%;
    }
    p {
      text-decoration: none;
    }
  }
  &__btn:hover {
    @include colorChangerHover;
  }
}

.imgnText {
  &__img {
    margin-top: 10%;
    img {
      max-width: 20%;
      padding-bottom: 5%;
    }
  }
  &__line {
    border-bottom: 2px solid purple;
    max-width: 30%;
    margin: 0 auto;
  }
  &__text {
    margin-top: 1%;
  }
}

@media only screen and (max-width: 426px) {
  .chooseCat {
    margin: 1%;
    &__chooseText {
      min-width: 310px;
      min-height: 70px;
    }
  }
}
