// color
$c-purple: rgba(150, 47, 191, 1);
$break-xxxs: 320px;
$break-xxs: 375px;
$break-xs: 426px;
$break-mobile: 768px;
$break-mid: 1024px;
$break-laptop: 1440px;
$break-high: 2560px;

$tablet-min: 768px;
$desktop-min: 1200px;
